-- Database Setup for IntelliSupply

-- Users table
CREATE TABLE IF NOT EXISTS users (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  email TEXT UNIQUE NOT NULL,
  organisation_name TEXT,
  location TEXT,
  employee_count TEXT,
  industry TEXT,
  sub_industry TEXT,
  description TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- User Settings table
CREATE TABLE IF NOT EXISTS user_settings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES users(id) ON DELETE CASCADE,
  theme TEXT DEFAULT 'light',
  notification_preferences JSONB DEFAULT '{}',
  dashboard_layout JSONB DEFAULT '{}',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Supply Chain table
CREATE TABLE IF NOT EXISTS supply_chains (
  supply_chain_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES users(id) ON DELETE CASCADE,
  name TEXT NOT NULL,
  description TEXT,
  status TEXT DEFAULT 'active',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Node table
CREATE TABLE IF NOT EXISTS nodes (
  node_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  supply_chain_id UUID REFERENCES supply_chains(supply_chain_id) ON DELETE CASCADE,
  type TEXT NOT NULL,
  name TEXT NOT NULL,
  x FLOAT NOT NULL,
  y FLOAT NOT NULL,
  capacity INTEGER DEFAULT 0,
  current_inventory INTEGER DEFAULT 0,
  risk_level FLOAT DEFAULT 0,
  metadata JSONB DEFAULT '{}',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Edge table
CREATE TABLE IF NOT EXISTS edges (
  edge_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  supply_chain_id UUID REFERENCES supply_chains(supply_chain_id) ON DELETE CASCADE,
  from_node_id UUID REFERENCES nodes(node_id) ON DELETE CASCADE,
  to_node_id UUID REFERENCES nodes(node_id) ON DELETE CASCADE,
  relationship_type TEXT DEFAULT 'transport',
  cost FLOAT DEFAULT 0,
  transit_time FLOAT DEFAULT 0,
  metadata JSONB DEFAULT '{}',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Simulation table
CREATE TABLE IF NOT EXISTS simulations (
  simulation_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  supply_chain_id UUID REFERENCES supply_chains(supply_chain_id) ON DELETE CASCADE,
  name TEXT NOT NULL,
  scenario_type TEXT NOT NULL,
  parameters JSONB DEFAULT '{}',
  status TEXT DEFAULT 'pending',
  result_summary JSONB DEFAULT '{}',
  simulated_at TIMESTAMP WITH TIME ZONE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Impact Result table
CREATE TABLE IF NOT EXISTS impact_results (
  impact_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  simulation_id UUID REFERENCES simulations(simulation_id) ON DELETE CASCADE,
  metric_name TEXT NOT NULL,
  metric_value FLOAT NOT NULL,
  measurement_unit TEXT,
  recorded_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- KPI History table
CREATE TABLE IF NOT EXISTS kpi_history (
  kpi_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  supply_chain_id UUID REFERENCES supply_chains(supply_chain_id) ON DELETE CASCADE,
  metric_name TEXT NOT NULL,
  metric_value FLOAT NOT NULL,
  recorded_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Strategy table
CREATE TABLE IF NOT EXISTS strategies (
  strategy_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  simulation_id UUID REFERENCES simulations(simulation_id) ON DELETE CASCADE,
  strategy_title TEXT NOT NULL,
  description TEXT,
  details JSONB DEFAULT '{}',
  estimated_roi FLOAT,
  cost_estimate FLOAT,
  risk_reduction FLOAT,
  implementation_time TEXT,
  complexity TEXT,
  status TEXT DEFAULT 'proposed',
  tags TEXT[],
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Cost Benefit Analysis table
CREATE TABLE IF NOT EXISTS cost_benefit_analysis (
  analysis_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  strategy_id UUID REFERENCES strategies(strategy_id) ON DELETE CASCADE,
  baseline_cost FLOAT,
  strategy_cost FLOAT,
  savings_estimate FLOAT,
  analysis_details JSONB DEFAULT '{}',
  calculated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Supplier table
CREATE TABLE IF NOT EXISTS suppliers (
  supplier_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name TEXT NOT NULL,
  location TEXT,
  rating FLOAT,
  cost_factor FLOAT,
  sustainability_score FLOAT,
  contact_info TEXT,
  metadata JSONB DEFAULT '{}',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Sample data insertion

-- Insert demo user
INSERT INTO users (id, email, organisation_name, location, employee_count, industry, sub_industry, description)
VALUES 
('00000000-0000-0000-0000-000000000001', 'demo@intellisupply.com', 'IntelliSupply Demo', 'New York, USA', '100-500', 'Manufacturing', 'Electronics', 'Demo account for testing IntelliSupply platform');

-- Insert user settings
INSERT INTO user_settings (user_id, theme, notification_preferences)
VALUES 
('00000000-0000-0000-0000-000000000001', 'dark', '{"email": true, "push": true, "sms": false}');

-- Insert supply chains
INSERT INTO supply_chains (supply_chain_id, user_id, name, description, status)
VALUES 
('00000000-0000-0000-0000-000000000101', '00000000-0000-0000-0000-000000000001', 'Electronics Supply Chain', 'Global electronics component supply chain with manufacturing in Asia and distribution in North America and Europe.', 'active'),
('00000000-0000-0000-0000-000000000102', '00000000-0000-0000-0000-000000000001', 'Automotive Supply Chain', 'Automotive parts supply chain with suppliers across multiple regions.', 'active');

-- Insert nodes for electronics supply chain

-- Insert edges for electronics supply chain

-- Insert simulations

-- Insert impact results for completed simulations

-- Insert KPI history

-- Insert strategies for completed simulations

-- Insert cost-benefit analysis for strategies

-- Insert suppliers
